[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/miniaudio"]
	path = External/miniaudio
	url = https://github.com/mackron/miniaudio.git
